target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
*.html
allure-results/f8a0d960-bf2e-4caa-a237-d1ed00bd11c7-container.json
allure-results/f24cc6c4-f1f8-4d8d-b5a1-a58de33fb3fd-attachment.txt
execution-summary/ExecutionSummaryReport_23-10-2024_11-15-59-0535-AM.html
execution-summary/ExecutionSummaryReport_23-10-2024_11-15-59-0535-AM.html
